page-saved {
	// #saved > *
	// {
	// 	display: flex!important;
	// 	align-content: center!important;
	// 	align-items: center!important;
	// }
	div{
		margin-top: 20px;

		h2{
			font-weight: bold;
		}
		.button{
			font-weight: bold;
			text-decoration: underline;
		}
	}
	
}
