page-explore {
	ion-header{
		background-color: #eee;
		.button{
			box-shadow:none;
			border: 1px solid #888;
		    background: #fff;
		    border-radius: 5px;
		}
	}
	.content{
		margin-bottom: 20px;
	}
	.button{
		box-shadow:none;
	}
	.button-ios{
		height: 2.4em
	}
	.button#dates{
		margin-left: 8px;
	}
	.swiper-container-horizontal > .swiper-pagination-bullets{
		// height: 0px;
		display: none;
	}

	ion-slides{
		height: 42%;
	}
	.slide-zoom {
	    height: 100%;
	}
	.slide-image{
		max-width: 100% !important;
		width: 100%;
		min-height: 100px;
	}
	.swiper-slide{
		width: 45.5% !important;
		height: 150px;
		margin: 0 5px;
		box-shadow: 0px 0px 5px #555;
		cursor: pointer;
	}
	.slide-title {
	    margin-top: 2rem;
	    font-size: 1.2rem;
	    margin-top: .2rem;
	}
	.slide-image {
	    max-height: 50%;
	    max-width: 60%;
	    // margin: 5px 0;
	}

	[col-6]{
		padding: 4px;
	}

	.card{

		width: 100%;
		margin: 0px;
		cursor: pointer;

		.card-title{
			font-size: 1.2rem;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
		p{
			font-size: 1.2rem;
			font-weight: bold;
		}
		.button-small{
			font-size: 1rem;
			padding: 0px;
			label{
				padding-left: 5px;
			}
		}
	}
	.button.button-block{
		margin: 20px 0px;
	}
}
